*{
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
}
.parent{
    background-color: #FFE5CF;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
a{
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;

    background-color:blue;
    color: white;
}
@media screen and (min-width: 320px) and (max-width:376px) {
    .parent{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
        justify-content: center;
        text-align: center;

    }
}
@media screen and (min-width: 377px) and (max-width: 426px) {
    .parent{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
        justify-content: center;
        text-align: center;
    }
    
}
@media screen and (min-width: 427px) and (max-width: 767px) {
    .parent{
        display: grid;
        grid-template-columns: 20px 20px;
        justify-content: center;
        place-items: center;
        row-gap: 10px;
        column-gap: 80px;
        
    }
    
}
